/* styles.css */

img {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    font-size:x-large;
    color: black;
    background-color: #fdd700;
    border: 3px solid black;
  }

.head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    color: black;
}

.recipehead {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    color: black;
    background-color: beige;
}